---
import BaseLayout from '../layouts/BaseLayout.astro'
import { FiExternalLink } from 'react-icons/fi/index.js'
import { TbBrandNextjs } from 'react-icons/tb/index.js'
import { SiSvelte, SiSanity } from 'react-icons/si/index.js'
import {
  SiMysql,
  SiPrisma,
  SiReact,
  SiTailwindcss,
  SiTypescript,
} from 'react-icons/si/index.js'
import { BsGithub } from 'react-icons/bs/index.js'
import ImageSlider from '../components/ImageSlider.astro'
import ToolIcon from '../components/ToolIcon.astro'

const mj4TravelImages = [
  { src: '/mj4travel/Landing.png', alt: 'MJ4Travel Landing Page' },
  { src: '/mj4travel/TravelStyles.png', alt: 'MJ4Travel Travel Styles Page' },
  { src: '/mj4travel/ContactUs.png', alt: 'MJ4Travel Contact Us' },
]

const struxtsImages = [
  { src: '/struxts/Struxt.png', alt: 'Struxts chart' },
  { src: '/struxts/NodeDetails.png', alt: 'Struxts Node details' },
  { src: '/struxts/Create.png', alt: 'Create Struxt' },
]

const gradeBaseImages = [
  { src: '/gradebase/Dashboard.png', alt: 'Dashboard' },
  { src: '/gradebase/MyCourse.png', alt: 'My course' },
  { src: '/gradebase/School.png', alt: 'School' },
  { src: '/gradebase/CreateDegree.png', alt: 'Create degree' },
  { src: '/gradebase/FindCourse.png', alt: 'Find course' },
]
---

<BaseLayout>
  <div class="flex flex-col gap-8">
    <article class="flex flex-col gap-4">
      <div class="flex flex-col gap-0.5">
        <a
          href="https://www.mj4travel.com/"
          target="_blank"
          class="w-min text-blue-500 flex items-center gap-1.5 hover:border-blue-500 border-b border-transparent"
        >
          <span>mj4travel.com</span>
          <FiExternalLink />
        </a>
        <div class="flex items-center justify-between gap-4">
          <h3 class="tracking-tight text-black">MJ4Travel Inc.</h3>
          <a
            href="https://github.com/idunnett/mj4travel"
            target="_blank"
            aria-label="struxts repo"
            class="w-min hover:text-black"
          >
            <BsGithub className="w-6 h-6" />
          </a>
        </div>
      </div>
      <ImageSlider id="mj4travel-slider" images={mj4TravelImages} dark />
      <p class="my-0">
        A static website for the promotion of the travel agency MJ4Travel Inc.
        The site is built with SvelteKit and TailwindCSS. The content/data used
        within the site is held within Sanity.io (a headless CMS) allowing site
        admin full control over their content.
      </p>
      <div class="flex flex-col items-center gap-2">
        <span class="text-sm">Built with:</span>
        <div class="flex items-center gap-4">
          <ToolIcon name="SvelteKit">
            <SiSvelte className="h-8 w-8 text-[#FF3E00]" />
          </ToolIcon>
          <ToolIcon name="Typescript">
            <SiTypescript className="h-7 w-7 text-[#0188D1]" />
          </ToolIcon>
          <ToolIcon name="TailwindCSS">
            <SiTailwindcss className="w-7 h-7 text-[#4CB6AC]" />
          </ToolIcon>
          <ToolIcon name="Sanity CMS">
            <SiSanity className="w-7 h-7 text-[#F03E30]" />
          </ToolIcon>
        </div>
      </div>
    </article>
    <article class="flex flex-col gap-4">
      <div class="flex flex-col gap-0.5">
        <a
          href="https://www.struxts.com"
          target="_blank"
          class="w-min text-blue-500 flex items-center gap-1.5 hover:border-blue-500 border-b border-transparent"
        >
          <span>struxts.com</span>
          <FiExternalLink />
        </a>
        <div class="flex items-center justify-between gap-4">
          <h3 class="tracking-tight text-black">Struxts</h3>
          <a
            href="https://github.com/idunnett/struxts"
            target="_blank"
            aria-label="struxts repo"
            class="w-min hover:text-black"
          >
            <BsGithub className="w-6 h-6" />
          </a>
        </div>
      </div>
      <ImageSlider id="struxts-slider" images={struxtsImages} />
      <p class="my-0">
        A web application for building and sharing interactive structures and
        organizational charts that look good!
      </p>
      <div class="flex flex-col items-center gap-2">
        <span class="text-sm">Built with:</span>
        <div class="flex items-center gap-4">
          <ToolIcon name="NextJS">
            <TbBrandNextjs className="h-8 w-8 text-black" />
          </ToolIcon>
          <ToolIcon name="Typescript">
            <SiTypescript className="h-7 w-7 text-[#0188D1]" />
          </ToolIcon>
          <ToolIcon name="Prisma">
            <SiPrisma className="w-7 h-7 text-[#2D3748]" />
          </ToolIcon>
          <ToolIcon name="TailwindCSS">
            <SiTailwindcss className="w-7 h-7 text-[#4CB6AC]" />
          </ToolIcon>
          <ToolIcon name="tRPC">
            <img src="/icons/trpc.svg" class="w-7 h-7" />
          </ToolIcon>
          <ToolIcon name="MySQL">
            <SiMysql className="w-7 h-7 text-[#4479A1]" />
          </ToolIcon>
        </div>
      </div>
    </article>
    <article class="flex flex-col gap-4">
      <div class="flex flex-col gap-0.5">
        <a
          href="https://www.gradebase.ca"
          target="_blank"
          class="w-min text-blue-500 flex items-center gap-1.5 hover:border-blue-500 border-b border-transparent"
        >
          <span>gradebase.ca</span>
          <FiExternalLink />
        </a>
        <div class="flex items-center justify-between gap-4">
          <h3 class="tracking-tight text-slate-400 dark:text-white">
            Grade<span class="text-slate-500 dark:text-slate-400">Base</span>
            <span class="text-gray-500 text-lg font-normal tracking-normal">
              (temporarily down)
            </span>
          </h3>
          <a
            href="https://github.com/idunnett/grade-base"
            target="_blank"
            aria-label="grade-base repo"
            class="w-min hover:text-black"
          >
            <BsGithub className="w-6 h-6" />
          </a>
        </div>
      </div>
      <ImageSlider id="gradebase-slider" images={gradeBaseImages} />
      <p class="my-0">
        A platform for university students used to plan term schedules and track
        progress in their degrees and courses. The application produces visual
        analytics to aid students' academic organization and time management.
      </p>
      <div class="flex flex-col items-center gap-2">
        <span class="text-sm">Built with:</span>
        <div class="flex items-center gap-4">
          <ToolIcon name="NextJS">
            <TbBrandNextjs className="h-8 w-8 text-black" />
          </ToolIcon>
          <ToolIcon name="Typescript">
            <SiTypescript className="h-7 w-7 text-[#0188D1]" />
          </ToolIcon>
          <ToolIcon name="Prisma">
            <SiPrisma className="w-7 h-7 text-[#2D3748]" />
          </ToolIcon>
          <ToolIcon name="TailwindCSS">
            <SiTailwindcss className="w-7 h-7 text-[#4CB6AC]" />
          </ToolIcon>
          <ToolIcon name="tRPC">
            <img src="/icons/trpc.svg" class="w-7 h-7" />
          </ToolIcon>
        </div>
      </div>
    </article>
    <article class="flex flex-col gap-4">
      <div class="flex flex-col gap-0.5">
        <span class="w-min text-blue-500">idunnett.dev</span>
        <div class="flex items-center justify-between gap-4">
          <h3 class="tracking-tight text-black">
            idunnett.dev
            <span class="text-lg font-normal text-gray-500 tracking-normal">
              (this site)
            </span>
          </h3>
          <a
            href="https://github.com/idunnett/idunnett.dev"
            target="_blank"
            aria-label="idunnett.dev repo"
            class="w-min hover:text-black"
          >
            <BsGithub className="w-6 h-6" />
          </a>
        </div>
      </div>
      <div class="flex flex-col items-center gap-2">
        <span class="text-sm">Built with:</span>
        <div class="flex items-center gap-4">
          <ToolIcon name="Astro">
            <img src="/icons/astro.svg" class="w-7 h-7" />
          </ToolIcon>
          <ToolIcon name="React">
            <SiReact className="w-7 h-7 text-[#0188D1]" />
          </ToolIcon>
          <ToolIcon name="Typescript">
            <SiTypescript className="h-7 w-7 text-[#0188D1]" />
          </ToolIcon>
          <ToolIcon name="TailwindCSS">
            <SiTailwindcss className="w-7 h-7 text-[#4CB6AC]" />
          </ToolIcon>
        </div>
      </div>
    </article>
  </div>
</BaseLayout>
