@tailwind base;
@tailwind components;
@tailwind utilities;

.md li {
  list-style: disc;
  list-style-position: inside;
  margin-left: 16px;
}

.md p {
  margin: 16px 0;
}

.md .references p {
  text-indent: -3em;
  margin-left: 3em;
}

.md a {
  color: rgb(147, 197, 253);
}
